In [1]:
# Step 1: Import libraries and load dataset 
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, MaxAbsScaler, LabelEncoder
from sklearn.model_selection import train_test_split

df = pd.read_csv("Data.csv") 
print("Original Data (first 5 rows):\n", df.head(), "\n")

# Step 2: Explore dataset 
print("Dataset Shape:", df.shape)
print("\nDataset Info:")
print(df.info())
print("\nSummary Statistics:\n", df.describe(include="all"))

# Step 3: Handle Missing Values 
for col in df.select_dtypes(include=[np.number]).columns:
    df[col].fillna(df[col].mean(), inplace=True)

for col in df.select_dtypes(include=['object']).columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

print("\nAfter Handling Missing Values:\n", df.head())

# Step 4: Encode Categorical Variables
encoder = LabelEncoder()
for col in df.select_dtypes(include=['object']).columns:
    df[col] = encoder.fit_transform(df[col])

print("\nAfter Encoding Categorical Data:\n", df.head())

# Step 5: Feature Scaling 
numeric_cols = df.select_dtypes(include=[np.number]).columns

scalers = {
    "Min-Max Scaler": MinMaxScaler(),
    "Standard Scaler": StandardScaler(),
    "Robust Scaler": RobustScaler(),
    "Max-Abs Scaler": MaxAbsScaler()
}

for name, scaler in scalers.items():
    scaled = scaler.fit_transform(df[numeric_cols])
    scaled_df = pd.DataFrame(scaled, columns=numeric_cols)
    print(f"\n{name} Result (first 5 rows):\n", scaled_df.head())

# Step 6: Handle Outliers 
Q1 = df[numeric_cols].quantile(0.25)
Q3 = df[numeric_cols].quantile(0.75)
IQR = Q3 - Q1
df_outlier_removed = df[~((df[numeric_cols] < (Q1 - 1.5 * IQR)) | (df[numeric_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

print("\nDataset after removing outliers (shape):", df_outlier_removed.shape)

# Step 7 : Split Dataset Into Training, Evaluation and Validation Sets 
X = df_outlier_removed.drop(df_outlier_removed.columns[-1], axis=1)   # features
y = df_outlier_removed[df_outlier_removed.columns[-1]]               
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("\nTraining set shape:", X_train.shape)
print("Testing set shape:", X_test.shape)

Original Data (first 5 rows):
    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

Dataset Shape: (10, 4)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes
None

Summary Statistics:
        Country        Age        Salary Purchased
count       10   9.000000      9.000000        10
unique       3        NaN           NaN         2
top     France        NaN           NaN        No
freq         4        NaN           NaN         5
mean       NaN  38.777778  63777.777778       NaN
std        NaN   7.693793  12265.579662       NaN
min        NaN  27.000000  48000.000000       NaN
25%        NaN  35.000000  54000.000000       NaN
50%        NaN  38.000000  61000.000000       NaN
75%        NaN  44.000000  72000.000000       NaN
max        NaN  50.000000  83000.000000       NaN

After Handling Missing Values:
    Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes

After Encoding Categorical Data:
    Country   Age        Salary  Purchased
0        0  44.0  72000.000000          0
1        2  27.0  48000.000000          1
2        1  30.0  54000.000000          0
3        2  38.0  61000.000000          0
4        1  40.0  63777.777778          1

Min-Max Scaler Result (first 5 rows):
    Country       Age    Salary  Purchased
0      0.0  0.739130  0.685714        0.0
1      1.0  0.000000  0.000000        1.0
2      0.5  0.130435  0.171429        0.0
3      1.0  0.478261  0.371429        0.0
4      0.5  0.565217  0.450794        1.0

Standard Scaler Result (first 5 rows):
     Country       Age        Salary  Purchased
0 -1.083473  0.758874  7.494733e-01       -1.0
1  1.324244 -1.711504 -1.438178e+00        1.0
2  0.120386 -1.275555 -8.912655e-01       -1.0
3  1.324244 -0.113024 -2.532004e-01       -1.0
4  0.120386  0.177609  6.632192e-16        1.0

Robust Scaler Result (first 5 rows):
     Country       Age    Salary  Purchased
0 -0.571429  0.748148  0.610229       -0.5
1  0.571429 -1.518519 -0.913580        0.5
2  0.000000 -1.118519 -0.532628       -0.5
3  0.571429 -0.051852 -0.088183       -0.5
4  0.000000  0.214815  0.088183        0.5

Max-Abs Scaler Result (first 5 rows):
    Country   Age    Salary  Purchased
0      0.0  0.88  0.867470        0.0
1      1.0  0.54  0.578313        1.0
2      0.5  0.60  0.650602        0.0
3      1.0  0.76  0.734940        0.0
4      0.5  0.80  0.768407        1.0

Dataset after removing outliers (shape): (10, 4)

Training set shape: (8, 3)
Testing set shape: (2, 3)

C:\Users\gyash\AppData\Local\Temp\ipykernel_7792\3860667095.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
C:\Users\gyash\AppData\Local\Temp\ipykernel_7792\3860667095.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)